<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

    <!-- 📦 Scan des services -->
    <context:component-scan base-package="com.smartlogi.services"/>

    <!-- 💾 DataSource (PostgreSQL) -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql://localhost:5432/smartlogi"/>
        <property name="username" value="postgres"/>
        <property name="password" value="etrichi"/>
    </bean>

    <!-- 🧠 EntityManagerFactory -->
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan" value="com.smartlogi.entities"/>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>
        </property>
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
            </props>
        </property>
    </bean>


    <!-- 🔄 Gestionnaire de transactions -->
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <!-- 📚 Activation de Spring Data JPA -->
    <jpa:repositories base-package="com.smartlogi.repositories"
                      entity-manager-factory-ref="entityManagerFactory"
                      transaction-manager-ref="transactionManager"/>




    <bean id="LivreurService" class="com.smartlogi.services.LivreurService" >
        <property name="livreurRepository"  ref="livreurRepository" />
    </bean>

<!--    <bean id="ColisService" class="com.smartlogi.services.ColisService">-->
<!--        <property name="colisRepository"  ref="colisRepository" />-->
<!--    </bean>-->

    <bean id="LivreurMetier" class="com.smartlogi.metiers.LivreurMetier">
        <constructor-arg name="livreurService" ref="LivreurService"/>
    </bean>

    <bean id="Menu"  class="com.smartlogi.Menu">
        <constructor-arg name="livreur" ref="LivreurMetier"/>
        <constructor-arg name="colis" ref="ColisMetier"/>
    </bean>



<!--    <bean id="colisMetier" class="com.smartlogi.metiers.ColisMetier" >-->
<!--        <constructor-arg name="colisService" ref="ColisService" />-->
<!--    </bean>-->
    <bean id="ColisMetier" class="com.smartlogi.metiers.ColisMetier"/>


</beans>
